/* Add media queries */

@media (max-width: 850px) {

  .foot-links{
      display: grid;
      flex-wrap: wrap;
      grid-template-rows: 1fr 1fr;
      margin-top: 15px;
  }

  .foot-links:nth-child(1){
      padding: 50px;
  }

  .serv{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 800px;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 50px;
  }

  .services-container{
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-left: 3%;
      margin-right: 3%;
      margin-top: 0;
      margin-bottom: 50px;
  }

  .desk{
      margin: 30px;
  }

  .desk h2{
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
  }

  .desk img{
      border-radius: 10px;
      width: 50%;
      height: 50%;
  }

  .desk p{
      font-size: 16px;
      font-weight: 500;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .desk button{
      padding: 13px 20px;
      border: none;
      border-radius: 50px;
  }

  .desk button:hover{
      background: var(--dark-color);
      color: var(--white-primary);
  }

  .desk button a{
      text-decoration: none;
      color: var(--black-color);
      font-weight: 500;
      font-size: 1rem;
      text-transform: uppercase;
  }

  .desk button a:hover{
      color: var(--white-primary);
  }

  .d{
      display: flex;
      flex-direction: column-reverse;
  }

  .nav-container {
    grid-template-columns: 1fr 2fr 1fr; 
  }

  #lt{
    display: none;
  }

  .nav-menu {
    flex-direction: column;
    justify-self: end;
    margin: 0;
  }

  .nav-container {
    grid-template-columns: auto 1fr; 
  }
  
  .nav-logo {
    margin: 0;
  }
   
  .main-content {
    margin-top: -100px; 
  }

  .nav-menu li {
    margin: 10px 0;
  }

  .foot-container {
    flex-direction: column;
  }

  .foot-links {
    margin-top: 20px;
  }

  #lb{
    display: none;
    visibility: hidden;
    height: 50px;
  }

  .pga {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 300px;
  }

  .pga-cont {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    align-items: center; 
    margin: 0 auto;
    width: 500px;
  }
  
  .pga-img {
    grid-row: 1;
  }
  
  .pga-txt {
    grid-row: 2;
    text-align: center;
  }
  
  .pga-img img {
    min-width: 100%;
    margin: 0 auto; 
  }

  ._404m{
    display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  }
  

}

@media (max-width: 500px) {

  .nav-logo{
    font-size: 14px;
  }

  #lt{
    display: none;
  }

  #bio {
    font-size: 40px;
  }

  #description {
    width: 100%;
    font-size: 16px;
  }

  #lbt {
    display: none;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .foot-container {
    text-align: center;
  }

  .foot p {
    font-size: 30px;
  }

}